node_modules
.env
api/local.settings.json
server.out.log
server.err.log

server*.log

# Local env files
.env.*

# Functions
functions/**/.venv/
functions/**/*.zip

# Local dev logs
.csp-server.log
.csp-server.pid

# Python
.venv/
__pycache__/
*.pyc
staticwebapp.config.backup*.json
